<DOCTYPE html>

<html>
<head>


	<style>


	</style>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body>
	<div class="con">
		<div class="smile">	
			<div class="right-eye">


			</div>	
			<div class="left-ear"></div>
			<div class="right-ear"></div>
			<div class="toung-two"></div>
			<div class="toung "></div>
			<div class="talk hello">Happy Birthday Mom!</div>
			
		</div>
		<section></section>
		<div class="head"></div>


	</div>
	<form id="form">
		<input class="hidden" id="say-hello" type="text" value="say hi" autofocus="autofocus">
		<button class="hidden" id="send-me"></button>
	</form>
		<div class="hidden" id="list">
		</div>
	<script>

	// $(document).on('click', function(e){
	//     $('.yes').css({
	//        left:  e.pageX,
	//        top:   e.pageY
	//     });
	//     console.log(e)


	// });
		
	$(document).ready(function(){

		$.ajax({
			type: "POST",
			url: "/remove_old_chat",
			success: function (resp) {
				console.log("chat deleted", resp)
			}
		});

		setTimeout(function () {
			// alert zak when some (mom) has logged on
			$.ajax({
					type: "POST",
					url: address + "/notifications/notify",
					data: { 'body': "Moms logged on" },
					success: function (resp) {
						console.log("sent", resp)
					}
				});
		}, 200);

		

		$('.con').hover(function (event) {
				if ($('.talk').hasClass('hello')){
					$('.talk').removeClass('hello')
					$('.talk').addClass('smile-five-hello')
				}
			setTimeout(function() {
				$('#say-hello').removeClass('hidden')
				$('#send-me').removeClass('hidden')
				$('#list').removeClass('hidden')
			}, 2000);	
		});

		var address = "http://1c86ddfa.ngrok.com"

		$('#say-hello').on('keydown', function(event) {
			$(event.currentTarget).val("");
			$('#say-hello').off();
		});

		 setInterval(function(){
    		console.log("reloaded")
    		$.ajax({
				type: "GET",
				url: address + "/users",
				success: function (resp) {
					console.log("reset")
					var $list = $('#list');
					$list.html('');

					resp.forEach(function(words) {
						$list.prepend('<div class="list-item">' + words.chat + '</div>');
					});
				}
			});
  		 },5000)

		$('#form').on('click', '#send-me', function (event) {
			event.preventDefault();
			var $words = $('#say-hello');
			var $value = $words.val();
			$words.val("");
			$('#list').prepend('<div class="list-item">' + $value + '</div>')
			console.log($value);


			$.ajax({
				type: "POST",
				url: address + "/notifications/notify",
				data: { 'body':$value },
				success: function (resp) {
					console.log("sent", resp)

					
				}
			});
		})

	});

	</script>

</body>
</html>